Repository cloudnativeto/cloudnative.to, pull requests merged in 2020-08, with the labels that each got.

#126 [blog] 云原生网络代理 MOSN 的进化之路
  content/zh/blog/cloud-native-mosn/index.md
  static/images/profile/wangfakang.png
Labels: category/mosn, kind/blog

#133 [blog] Kubebuilder 翻译总结
  content/zh/blog/kubebuilder-summary/images/cloudnative_kubebuilder_url.png
  content/zh/blog/kubebuilder-summary/images/kubebuilder_zh_url.png
  content/zh/blog/kubebuilder-summary/images/tidb_operator.png
  content/zh/blog/kubebuilder-summary/index.md
  static/images/blog/kubebuilder.png
  static/images/profile/xiaomage.png
Labels: kind/blog

#128 [blog] 深入了解 Kubernetes Informer
  content/zh/blog/client-go-informer-source-code/images/01.jpg
  content/zh/blog/client-go-informer-source-code/images/02.png
  content/zh/blog/client-go-informer-source-code/index.md
  static/images/blog/k8s-client-go-informer-source-code.jpg
  static/images/profile/linxuyalun.png
Labels: category/kubernetes, kind/blog

#125 [blog] Kubernetes Informer 机制源码解析
  content/zh/blog/informer-study/images/chunk.png
  content/zh/blog/informer-study/index.md
  static/images/blog/informer-study-banner.png
  static/images/profile/janeliul.jpg
Labels: category/kubernetes, kind/blog
