Repository cloudnativeto/cloudnative.to, pull requests merged in 2020-12, with the labels that each got.

#293 add 阿里云SLS可观察性方向招聘信息
  content/zh/job/aliyun-sls-observability.md
Labels: kind/job

#292 add 小鹏汽车云原生工程师 校招
  content/zh/job/xiaopeng-cloudnative-engineer-school-recruit.md
Labels: kind/job

#302 Create jd-servicemesh.md
  content/zh/job/jd-servicemesh.md
Labels: kind/job

#301 feat: add blog what is envoy
  content/zh/blog/what-is-envoy/index.md
Labels: kind/blog, kind/translation

#309 [blog] add cloud security policy translation
  content/zh/blog/cloud-security-policy/images/how-to-create-a-cloud-security-policy.png
  content/zh/blog/cloud-security-policy/images/what-is-a-cloud-security-policy.png
  content/zh/blog/cloud-security-policy/index.md
  static/images/blog/cloud-security.jpg
  static/images/profile/Andreja-Velimirovic.jpg
Labels: kind/blog

#312 PR for issue #308 [翻译] Contributing to the Development Guide.
  content/zh/blog/contributing-to-the-development-guide/images/jorge-castro-code-of-conduct.jpg
  content/zh/blog/contributing-to-the-development-guide/index.md
  static/images/blog/contributing-k8s.jpeg
  static/images/profile/Erik-L-Arneson.jpeg
Labels: category/kubernetes, kind/blog, kind/translation
