Repository cloudnativeto/cloudnative.to, pull requests merged in 2020-10, with the labels that each got.

#173 添加城市列表页面
  assets/js/city.js
  assets/scss/style.scss
  assets/scss/templates/_city.scss
  config.toml
  content/zh/city/_index.md
  content/zh/city/beijing.md
  content/zh/city/changsha.md
  content/zh/city/chengdu.md
  content/zh/city/chongqing.md
  content/zh/city/dalian.md
  content/zh/city/guangzhou.md
  content/zh/city/hangzhou.md
  content/zh/city/jinan.md
  content/zh/city/nanjing.md
  content/zh/city/shanghai.md
  content/zh/city/shenzhen.md
  content/zh/city/suzhou.md
  content/zh/city/wuhan.md
  content/zh/city/xiamen.md
  content/zh/city/xian.md
  content/zh/city/zhuhai.md
  data/zh/homepage.yml
  layouts/_default/city.html
  layouts/city/list.html
  static/images/backgrounds/city-banner.jpg
Labels: kind/infra

#191 [招聘]中国电信股份有限公司云计算分公司容器组
  content/zh/job/chinatelecom-k8s.md
Labels: kind/job

#193 [blog] 添加 Envoy 志愿者招募信息
  content/zh/blog/envoy-trans-recruit/index.md
Labels: kind/blog

#201 add 灵雀云云原生岗位招聘信息
  content/zh/job/alauda-cloud-native.md
Labels: kind/job

#199 add 端点科技云原生岗位招聘信息
  content/zh/job/terminus-micro-service.md
Labels: kind/job

#200 [blog]【译】如何使用istio处理亲和性网络请求
  content/zh/blog/request-affinity-with-istio/images/cashapp.png
  content/zh/blog/request-affinity-with-istio/images/istio-after.png
  content/zh/blog/request-affinity-with-istio/images/istio-before.png
  content/zh/blog/request-affinity-with-istio/images/istio-rollout.png
  content/zh/blog/request-affinity-with-istio/index.md
  static/images/blog/request-affinity-with-istio.jpg
Labels: kind/blog

#211 PR for issue #206 [翻译] Zero-Trust Security with Service Mesh
  content/zh/blog/zero-trust-service-mesh/index.md
  static/images/blog/top-banner-zero-trust.jpg
  static/images/profile/Rose-Sawvel.jpeg
Labels: category/service-mesh, kind/blog, kind/translation

#221 基于 Red Hat OpenShift 4 构建 Paas、DevOps 平台
  content/zh/blog/academy-6/images/book-openshift.png
  content/zh/blog/academy-6/index.md
  static/images/blog/academy-6.png
  static/images/profile/weixinyu.png
Labels: kind/blog

#214 PR for issue #205 [翻译] Introducing NGINX Service Mesh
  content/zh/blog/nginx-service-mesh/images/nginx.jpeg
  content/zh/blog/nginx-service-mesh/index.md
  static/images/blog/introducing-nginx-service-mesh.png
Labels: category/service-mesh, kind/blog, kind/translation

#212 PR for issue #186 [翻译] Building a Kubernetes Mutating Admission Webhook
  content/zh/blog/mutating-admission-webhook/images/Adil_H.jpeg
  content/zh/blog/mutating-admission-webhook/images/controller.png
  content/zh/blog/mutating-admission-webhook/images/hello1.png
  content/zh/blog/mutating-admission-webhook/images/hello2.png
  content/zh/blog/mutating-admission-webhook/index.md
  static/images/blog/k8s-mutating-admission-webhook-banner.jpg
  static/images/profile/liangbin.jpg
Labels: category/kubernetes, kind/blog, kind/translation

#234 [blog] 在 Istio 中实现 Redis 集群的数据分片、读写分离和流量镜像
  content/zh/blog/redis-cluster-with-istio/images/headphoto.jpg
  content/zh/blog/redis-cluster-with-istio/images/redis-as-cache.png
  content/zh/blog/redis-cluster-with-istio/images/redis-cluster-mirror-policy.png
  content/zh/blog/redis-cluster-with-istio/images/redis-cluster-no-proxy.png
  content/zh/blog/redis-cluster-with-istio/images/redis-cluster-read-policy.png
  content/zh/blog/redis-cluster-with-istio/images/redis-cluster-with-proxy.png
  content/zh/blog/redis-cluster-with-istio/images/redis-cluster.png
  content/zh/blog/redis-cluster-with-istio/index.md
  static/images/profile/zhaohuabing.png
Labels: category/istio, kind/blog

#227 [blog] 云原生初学者入门必读
  content/zh/blog/must-read-for-cloud-native-beginner/index.md
  layouts/partials/sidebar.html
  static/images/blog/beginner-guide.jpg
Labels: category/cloud-native, kind/blog
