Repository cloudnativeto/cloudnative.to, pull requests merged in 2020-09, with the labels that each got.

#146 [job] 贝壳基础研发部招聘
  content/zh/job/beike-cloud-component.md
Labels: kind/job

#148 [job] 深圳支流科技
  content/zh/job/api7.md
Labels: kind/job

#150 [job] 携程 container&service team
  content/zh/job/trip-cloud-native.md
Labels: kind/job

#149 [job] ebay cloud native招聘
  content/zh/job/ebay-cloud-native.md
Labels: kind/job

#151 [job][update] 深圳支流科技有限公司
  content/zh/job/api7.md
Labels: kind/job

#154 [blog] Istio Pilot 源码分析（一）
  content/zh/blog/istio-pilot/images/pilot-discovery-sequence-all.png
  content/zh/blog/istio-pilot/images/pilot-discovery-sequence-init.png
  content/zh/blog/istio-pilot/images/pilot-discovery-serviceentrystore.png
  content/zh/blog/istio-pilot/images/pilot-discovery-struct.png
  content/zh/blog/istio-pilot/index.md
  static/images/blog/istio-pilot-banner.jpeg
  static/images/profile/haidong.jpeg
Labels: category/istio, kind/blog

#163 add 谐云科技招聘信息
  content/zh/job/harmony-cloud-native.md
Labels: kind/job

#143 [blog] Envoy 志愿者招募信息
  content/zh/blog/envoy-tran-volunteer-recruit/index.md
  static/images/blog/envoy.png
Labels: WIP, category/envoy, kind/blog

#165 [blog] 云原生DevOps落地方案
  content/zh/blog/cloudnative-devops/images/1.png
  content/zh/blog/cloudnative-devops/images/2.png
  content/zh/blog/cloudnative-devops/images/3.png
  content/zh/blog/cloudnative-devops/images/4.png
  content/zh/blog/cloudnative-devops/images/5.png
  content/zh/blog/cloudnative-devops/images/6.png
  content/zh/blog/cloudnative-devops/images/7.png
  content/zh/blog/cloudnative-devops/images/blog/devops-banner.jpg
  content/zh/blog/cloudnative-devops/images/profile/chenyuexin.jpg
  content/zh/blog/cloudnative-devops/index.md
  static/images/blog/devops-banner.jpg
  static/images/profile/chenyuexin.jpg
Labels: kind/blog

#167 [job] 地平线艾迪平台部招聘信息
  content/zh/job/horizon.md
Labels: kind/job

#169 [blog] 新增 Istio 源码分析 二、三
  content/zh/blog/istio-pilot-2/images/serviceentryhandler-sequence.png
  content/zh/blog/istio-pilot-2/images/serviceentrystore-init.png
  content/zh/blog/istio-pilot-2/images/workloadentry-update-sequence.png
  content/zh/blog/istio-pilot-2/index.md
  content/zh/blog/istio-pilot-3/images/envoyxdsserver-client-requests.png
  content/zh/blog/istio-pilot-3/images/envoyxdsserver-handleudpate.png
  content/zh/blog/istio-pilot-3/images/envoyxdsserver-receive-change.png
  content/zh/blog/istio-pilot-3/images/envoyxdsserver-reveive-conn.png
  content/zh/blog/istio-pilot-3/images/envoyxdsserver-sendpushes.png
  content/zh/blog/istio-pilot-3/images/pilot-discovery-sequence-init.png
  content/zh/blog/istio-pilot-3/images/push-channel-source.png
  content/zh/blog/istio-pilot-3/index.md
Labels: category/istio, kind/blog

#175 blog：Migrating to Service Mesh
  content/zh/blog/migrating-to-service-mesh/index.md
Labels: kind/blog, kind/translation
