Repository cloudnativeto/cloudnative.to, pull requests merged in 2020-11, with the labels that each got.

#217 PR for issue #217 [翻译] Cracking kubernetes node proxy
  content/zh/blog/k8s-node-proxy/images/proxy_hooks-and-tables.png
  content/zh/blog/k8s-node-proxy/images/proxy_hooks.png
  content/zh/blog/k8s-node-proxy/images/proxy_host-to-clusterip-dnat-ct.png
  content/zh/blog/k8s-node-proxy/images/proxy_host-to-clusterip-dnat.png
  content/zh/blog/k8s-node-proxy/images/proxy_host-to-clusterip-lb-ct.png
  content/zh/blog/k8s-node-proxy/images/proxy_k8s-proxier-model.png
  content/zh/blog/k8s-node-proxy/images/proxy_test-env.png
  content/zh/blog/k8s-node-proxy/images/proxy_tunneling.png
  content/zh/blog/k8s-node-proxy/images/proxy_userspace-proxier-2.png
  content/zh/blog/k8s-node-proxy/images/proxy_userspace-proxier.png
  content/zh/blog/k8s-node-proxy/images/proxy_vip-and-lb.png
  content/zh/blog/k8s-node-proxy/index.md
  static/images/blog/crack-k8s-node-proxy-banner.jpeg
  static/images/profile/Yanan-Zhao.jpeg
Labels: category/kubernetes, kind/blog, kind/translation

#243 PR for issue #239 [翻译] NGINX Steps into the Service Mesh Fray Promising a Simpler Alternative
  content/zh/blog/nginx-servicemesh/images/b614d2b7-nginx-service-mesh-intro_architecture.png
  content/zh/blog/nginx-servicemesh/images/nginx.jpeg
  content/zh/blog/nginx-servicemesh/index.md
  static/images/blog/nginx-servicemesh-banner.jpg
Labels: category/service-mesh, kind/translation

#255 添加南京城市站的独立页面介绍
  content/zh/city/nanjing.md
  layouts/city/nanjing.html
  static/images/backgrounds/city-banner-nanjing.jpg
  static/images/city/nanjing/activities/2020-09-06/1.jpg
  static/images/city/nanjing/activities/2020-09-06/2.jpg
  static/images/city/nanjing/logo.jpg
  static/images/city/nanjing/members/chengfangzhi.jpeg
  static/images/city/nanjing/members/jinrunsen.png
  static/images/city/nanjing/members/zhouerliang.png
  static/images/city/nanjing/members/zhuhuijun.png
  static/images/city/nanjing/small_logo.png
Labels: WIP

#265 [社招] sap 中国研究院
  content/zh/job/sap-labs-china.md
Labels: kind/job

#267 [官网]在首页添加合作伙伴部分
  assets/scss/templates/_homepage.scss
  data/zh/homepage.yml
  layouts/index.html
  static/images/sponsors/apache-apisix.png
  static/images/sponsors/apache-pulsar.png
  static/images/sponsors/apache-skywalking.png
  static/images/sponsors/bailinzhe.png
  static/images/sponsors/cncf.png
  static/images/sponsors/devops-china.png
  static/images/sponsors/edge-computing-community.png
  static/images/sponsors/msup.jpg
  static/images/sponsors/njsd.png
  static/images/sponsors/stream_native.png
  static/images/sponsors/tetrate.png
  static/images/sponsors/tidb.png
  static/images/sponsors/xintongyuan.png
Labels: kind/infra

#271 Add findall btn
  data/en/homepage.yml
  data/zh/homepage.yml
  layouts/index.html
  layouts/partials/about.html
Labels: kind/infra

#269 PR for issue #264 [翻译] Helm Chart Repository Deprecation Update
  content/zh/blog/helm-chart-repository-deprecation-update/index.md
  static/images/blog/helm.jpg
  static/images/profile/helm.jpg
Labels: kind/blog, kind/translation

#266 [博客] 翻译博客Expanding into New Frontiers - Smart DNS Proxying in Istio
  content/zh/blog/istio-dns-proxy/0081Kckwly1gkpugz04s9j30q60exdgd.jpg
  content/zh/blog/istio-dns-proxy/0081Kckwly1gkpun74kxkj30pp0awt91.jpg
  content/zh/blog/istio-dns-proxy/0081Kckwly1gkpvb7jswbj30p80ad74t.jpg
  content/zh/blog/istio-dns-proxy/index.md
  static/images/blog/istio-dns.jpg
  static/images/profile/shriram.jpg
Labels: WIP, kind/blog, kind/translation

#278 [博客] Istio 1.8 发布——用户至上的选择
  content/zh/blog/helm-chart-repository-deprecation-update/index.md
  content/zh/blog/istio-18-release/index.md
  static/images/backgrounds/city-banner-nanjing.jpg
  static/images/backgrounds/sea-banner.jpg
  static/images/blog/istio-18.jpg
Labels: category/istio, kind/blog

#290 optimize the sponsors pictures
  assets/scss/templates/_homepage.scss
  layouts/index.html
  static/images/sponsors/oam.png
Labels: kind/infra
