Repository cloudnativeto/cloudnative.to, pull requests merged in 2021-07, with the labels that each got.

#405 [翻译] Architecting Kubernetes clusters — choosing the best autoscaling strategy
  content/zh/blog/kubernetes-autoscaling-strategy/app-workload.png
  content/zh/blog/kubernetes-autoscaling-strategy/cpu-requests-1.png
  content/zh/blog/kubernetes-autoscaling-strategy/cpu-requests-2.png
  content/zh/blog/kubernetes-autoscaling-strategy/cpu-requests-3.png
  content/zh/blog/kubernetes-autoscaling-strategy/eviction-threshold.svg
  content/zh/blog/kubernetes-autoscaling-strategy/hpa-ca-time-2.png
  content/zh/blog/kubernetes-autoscaling-strategy/hpa-ca-time-3.png
  content/zh/blog/kubernetes-autoscaling-strategy/hpa-ca-time-4.png
  content/zh/blog/kubernetes-autoscaling-strategy/hpa-ca-time.png
  content/zh/blog/kubernetes-autoscaling-strategy/index.md
  content/zh/blog/kubernetes-autoscaling-strategy/k8s-node-instance-2.png
  content/zh/blog/kubernetes-autoscaling-strategy/k8s-node-instance.png
  content/zh/blog/kubernetes-autoscaling-strategy/left-space-pod.png
  content/zh/blog/kubernetes-autoscaling-strategy/node-available-to-pod.png
  content/zh/blog/kubernetes-autoscaling-strategy/node-enough.png
  content/zh/blog/kubernetes-autoscaling-strategy/overprovision.png
  content/zh/blog/kubernetes-autoscaling-strategy/pending-pod-2.png
  content/zh/blog/kubernetes-autoscaling-strategy/pending-pod.png
  content/zh/blog/kubernetes-autoscaling-strategy/placeholder.png
  content/zh/blog/kubernetes-autoscaling-strategy/podpriority.png
  content/zh/blog/kubernetes-autoscaling-strategy/priorityClassName.png
  content/zh/blog/kubernetes-autoscaling-strategy/single-node.png
  static/images/blog/kuberntes-autoscaling-strategy.png
Labels: category/kubernetes, kind/translation

#408 add JD for iqiyi middleware
  content/zh/job/iqiyi-cloud-middleware/index.md
Labels: kind/job

#410 Translate Running database migrations when deploying to Kubernetes
  content/zh/blog/running-database-migration-when-deploying-to-kubernetes/index.md
  content/zh/blog/running-database-migration-when-deploying-to-kubernetes/pics/blog-engine.png
  content/zh/blog/running-database-migration-when-deploying-to-kubernetes/pics/charts.png
  content/zh/blog/running-database-migration-when-deploying-to-kubernetes/pics/database-migrations.png
  content/zh/blog/running-database-migration-when-deploying-to-kubernetes/pics/deployment-process.png
  content/zh/blog/running-database-migration-when-deploying-to-kubernetes/pics/jobs-and-init-containers-1.png
  content/zh/blog/running-database-migration-when-deploying-to-kubernetes/pics/jobs-and-init-containers-2.png
Labels: kind/translation

#411 [job] ctrip mesh
  content/zh/job/trip-service-mesh/index.md
Labels: kind/job

#413 [job] Bytedance ServiceMesh
  content/zh/job/baidu-cloud-native/index.md
  content/zh/job/bytedance-infra/index.md
Labels: kind/job

#416 [job] bilibili Kubernetes
  content/zh/job/bilibili-sre/index.md
Labels: kind/job

#417 add 顺丰科技招聘信息
  content/zh/job/sftech-bigdata-aiplat.md
Labels: kind/job
