Repository cloudnativeto/cloudnative.to, pull requests merged in 2021-05, with the labels that each got.

#382 [blog] Kubernetes 上如何控制容器的启动顺序？
  content/zh/blog/k8s-1.18-container-start-sequence-control/index.md
  static/images/blog/kubernetes-container-order.jpeg
  static/images/profile/zhangxiaohui.jpeg
Labels: kind/blog

#381 [翻译]A Reference Architecture for Fine-Grained Access Management on the Cloud
  content/zh/blog/translation-access-management-reference-architecture/index.md
  static/images/blog/cloudnative-security.jpeg
  static/images/profile/manav.jpg
Labels: kind/blog

#385 add dewu job
  content/zh/job/dewu/index.md
Labels: kind/job

#389 摩尔线程Dev&Infra部门招聘DevOps和Backend Engineer
  content/zh/job/moore-threads-dev-infra/index.md
Labels: kind/job

#390 [job] 滴滴出行基础架构部服务治理研发招聘信息
  content/zh/job/didi-service-mesh/index.md
Labels: kind/job

#391 add huatai job
  content/zh/job/huatai/index.md
Labels: kind/job

#393 add job jihu gitlab
  content/zh/job/jihu-gitlab/index.md
Labels: kind/job

#394 add JD k8s worker job
  content/zh/job/jd-retail-k8s-ML/index.md
Labels: kind/job

#396 [blog] 初探可编程网关 Pipy
  content/zh/blog/glance-at-programmable-gateway-pipy/index.md
  static/images/blog/glance-at-gateway-pipy.jpg
Labels: category/service-mesh, kind/blog
