Repository cloudnativeto/cloudnative.to, pull requests merged in 2021-06, with the labels that each got.

#398 [job] SHEIN云平台团队招聘需求更新
  content/zh/job/shein-cloud-native/index.md
Labels: kind/job

#400 translate: scaling kubernetes with assurance at pinterest
  content/zh/blog/scaling-kubernetes-with-assurance-at-pinterest/index.md
Labels: kind/blog, kind/translation

#399 [job]联易融云平台团队招聘需求
  content/zh/job/lls-cloud/index.md
Labels: kind/job

#402 blog post-cloud native storage
  content/zh/blog/2021-6-24-CNS/container-challenge.png
  content/zh/blog/2021-6-24-CNS/index.md
  content/zh/blog/2021-6-24-CNS/iomesh-arch.png
  content/zh/blog/2021-6-24-CNS/oltp-olap.png
  content/zh/blog/2021-6-24-CNS/storage-solution.png
  content/zh/blog/2021-6-24-CNS/tpcc-mysql-test-data1.png
  content/zh/blog/2021-6-24-CNS/tpcc-mysql-test-data2.jpg
  static/images/blog/cloud-native-storage-banner.png
  static/images/profile/kylezh.png
Labels: category/cloud-native, kind/blog
